@charset "utf-8";

:root  {
  --main-color:#5D9AB2;
  --accent-color:#BF6A7A;
  --dark-color:#2B5566:
  --text-bright-color:#fff;
  --icon-color:#fff;
  --icon-bk-color:#ddd;
}

body {
  font-family: 'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
  margin: 0;
}

.conA {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vw;
  min-height: 450px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)),url(../img/sample007.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  color: var(--text-bright-color);
  text-align: center;
}

.conA a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  border: solid 3px currentColor;
  border-radius: 6px;
  background-color: #FFB603;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.conA a:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2).rgba(255, 255, 255, 0.2));
}

.conA img {
  width: 20%;
}

.conA h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 15vw;
  letter-spacing: 0.2em;
  margin-left: 0.2em;
}

.conA p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
}

@media (min-width:768px) {
 .conA h1 {
   font-size: 115px;
 }

 .conA p {
   font-size: 24px;
 }
}


/* content B*/

.conB .container {
  padding-top: 80px;
  padding-bottom: 20px;
}

.conB .text {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  text-align: center;
}

.conB h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.conB p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8;
  opacity: 0.8;
}

.conB a {
  color: #05FF12;
  text-decoration: none;
}

.conB a:hover {
  text-decoration: underline;
}

.conB .icon {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 40px;
  width: 2em;
  line-height: 2em;
  border-radius: 50%;
  text-align: center;
  background-color: #fff;

}

.conB .text {
  text-align: center;
}

@media (min-width: 768px) {
  .conB .container {
    display: flex;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }

  .conB .text {
    flex: 1;
  }
}

/* ConC */

.conC {
  background-color: #FFB603;
  color: #fff;
}

.conC .text {
  padding: 20px;
}

.conC h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.conC p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8;
  opacity: 0.8;
}

.conC a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  border: solid 3px currentColor;
  border-radius: 6px;
  background-color: #0CE8D0;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.conC a:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2).rgba(255, 255, 255, 0.2));
}

.conC .photo {
  min-height: 200px;
  background-image: url(../img/sample005.jpg);
  background-position: center;
  background-size: cover;
}

@media (min-width:768px){
  .conC .container {
    display: flex;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }

  .conC .photo {
    flex: 3;
  }

  .conC .text {
    flex: 2;
    padding: 50px;
  }
}

/* ConD */

/*.conC {
  background-color: #5d9ab2;
  color: #fff;
}*/

.conD .container {
  padding: 20px;
}

.conD .text {
  padding: 20px;
}

.conD h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.conD p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8;
  opacity: 0.8;
}

.conD a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  box-shadow: 0 0 0 1px #888;
  border: solid 3px currentColor;
  border-radius: 6px;
  background-color: #E2E80A;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.conD a:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2).rgba(255, 255, 255, 0.2));
}

.conD .photo {
  min-height: 200px;
  background-image: url(../img/sample003.jpg);
  background-position: center;
  background-size: cover;
}

@media (min-width:768px){
  .conD .container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .conD .photo {
    flex: 0 0 400px;
  }

  .conD .text {
    flex: 1;
    padding: 50px;
  }
}

/* content E*/



.conE {
  background-color: #05FF12;
  color: #fff;
}

.conE .text {
  padding: 20px;
}

.conE h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.conE p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8;
  opacity: 0.8;
}

.conE a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  border: solid 3px currentColor;
  border-radius: 6px;
  background-color: #FFAC03;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.conE a:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2).rgba(255, 255, 255, 0.2));
}

.conE .photo {
  min-height: 200px;
  background-image: url(../img/universe/universe007.jpg);
  background-position: center;
  background-size: cover;
}

@media (min-width:768px){
  .conE .container {
    display: flex;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }

  .conE .photo {
    flex: 3;
  }

  .conE .text {
    flex: 2;
    padding: 50px;
  }
}

/* ConF */

.conF .container {
  padding: 20px;
}

.conF .text {
  padding: 20px;
}

.conF h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.conF p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8;
  opacity: 0.8;
}

.conF a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  box-shadow: 0 0 0 1px #888;
  border: solid 3px currentColor;
  border-radius: 6px;
  background-color: #182FFF;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.conF a:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2).rgba(255, 255, 255, 0.2));
}

.conF .photo {
  min-height: 200px;
  background-image: url(../img/universe/universe010.jpg);
  background-position: center;
  background-size: cover;
}

@media (min-width:768px){
  .conF .container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .conF .photo {
    flex: 0 0 400px;
  }

  .conF .text {
    flex: 1;
    padding: 50px;
  }
}

/*  ConG  */

.conG {
  background-color: #E2E80A;
  color: #fff;
}

.conG .text {
  padding: 20px;
}

.conG h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.conG p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8;
  opacity: 0.8;
}

.conG a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  border: solid 3px currentColor;
  border-radius: 6px;
  background-color: #05FF12;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.conG a:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2).rgba(255, 255, 255, 0.2));
}

.conG .photo {
  min-height: 200px;
  background-image: url(../img/sample008.jpg);
  background-position: center;
  background-size: cover;
}

@media (min-width:768px){
  .conG .container {
    display: flex;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }

  .conG .photo {
    flex: 3;
  }

  .conG .text {
    flex: 2;
    padding: 50px;
  }
}




/* footer */

footer {
  color: #fff;
  background-color: #05E6E8;

}

footer .container {
  padding: 40px 20px;
}

@media (min-wifth:768px;) {
  footer .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .footA {
    flex: 0 0 40%;
  }

  .footB {
    flex: 0 0 60%;
  }

  .footC {
    flex: 0 0 100%;
  }
}

/* footA */
.footA {
  margin-bottom: 30px;
}

.footA h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Montserrat',sans-serif;
  font-size: 30px;
  letter-spacing: 0.2em;
}

.footA p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.footA a {
  color: inherit;
  text-decoration: none;
}

/* footB */
.footB div {
  margin-bottom: 20px;
}

.footB h3 {
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: solid 1px currentColor;
  font-size: 14px;
}

.footB ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footB a {
  display: block;
  padding: 5px;
  color: inherit;
  font-size: 12px;
  text-decoration: none;
}

.footB a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width:768px) {
  .footB {
    display: flex;
  }

  .footB div {
    flex: 1;
  }

  .footB div:not(:first-child) {
    margin-left: 40px;
  }
}

/* footC */

.footC {
  font-size: 12px;
  text-align: center;
  font-family: 'Montserrat',sans-serif;
}

/* footD */

.footD {
  margin-top: 20px;
}

.footD ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footD a {
  display: block;
  margin-right: 8px;
  padding: 0;
  color: inherit;
  font-size: 16px;
  text-decoration: none;
  border: solid 1px currentColor;
  width: 2em;
  line-height: 2em;
  border-radius: 50%;
  text-align: center;
}

.footD a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* header */

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.headA {
  display: inline-block;
  line-height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #FFAC03;
  color: #fff;
  font-family: 'Montserrat',sans-serif;
  font-size: 24px;
  text-decoration: none;
}

.headB ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.headB a {
  display: block;
  padding: 15px;
  color: inherit;
  font-size: 12px;
  text-decoration: none;
}

.headB a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width:768px) {
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .headB ul {
    display: flex;
  }
}

/* headC */

@media (max-width:767px) {
  header .container-small {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .headC {
    margin-right: 10px;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font-size: 28px;
    opacity: 0.5;
    cursor: pointer;
  }

  .headC:hover {
    opacity: 0.3;
  }

  .headB {
    display: none;
  }
}

@media (min-width:768px) {
  .headC {
    display: none;
  }

  .headB {
    display: block !important;
  }
}
